@tailwind base;
@tailwind components;
@tailwind utilities;

.row {
    @apply flex flex-wrap py-5 px-3
}
.product{
    overflow: hidden;
}
.product .btn {
    transition: all 0.5s;
    transform: translateY(350%);
    -webkit-transform: translateY(350%);
    -moz-transform: translateY(350%);
    -ms-transform: translateY(350%);
    -o-transform: translateY(350%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.product:hover .btn {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    top: 220px;
    left: 48%;
    animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #12b65c;
    -webkit-transform: rotate3d(90, 90, 0, 180deg);
    -moz-transform: rotate3d(90, 90, 0, 180deg);
    -ms-transform: rotate3d(90, 90, 0, 180deg);
    -o-transform: rotate3d(90, 90, 0, 180deg);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}
body{
    background-image:url('./assets/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.237);
}